html,
#hero-365 {
  font-family: 'Roboto Slab', serif;
}
.skinny {
  font-weight: 100;
}
html {
  font-weight: 300;
}
.container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.strong {
  font-weight: 700;
}
.code-comment {
  color: #ccc;
}
p,
pre {
  margin: 0;
}

/* ================
   ==== HEADER ====
   ================ */

#main-header {
  min-height: 60px;
  padding-top: 120px;
  padding-bottom: 30px;
}
#main-header,
#mini-header {
  color: #fff;
  background: #f3431a; /* Old browsers */
}
#mini-header {
  padding-top: 15px;
  padding-bottom: 15px;
}
#header-logo,
#summary-header-logo {
  text-decoration: none;
}
#header-logo {
  color: #fff;
}
#summary-header-logo {
  color: #fff;
}
.page-title {
  margin-bottom: 10px;
}
.page-title a {
  display: inline-block;

  text-decoration: none;

  color: #fff;
}
.page-title h1 {
  font-size: 2.33em;

  margin: 0;
}
.page-description {
  font-size: 1em;

  margin: 0;

  color: #012f2a;
}

/* =====================
   ==== SUMMARY ROW ====
   ===================== */

#summary-wrapper {
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: #fff;
  background: #222;
}
#summary-wrapper p {
  font-weight: 100;

  margin: 0;
}
#project-wrapper {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.project-single {
  border-bottom: 1px dashed #ddd;
}
.project-link {
  display: block;
  clear: both;

  padding-top: 25px;
  padding-bottom: 30px;

  color: #012f2a;
}
.project-link:hover,
.project-link:focus {
  cursor: pointer;
  cursor: hand;

  background-color: #e2eff4;
}
.project-day {
  display: inline-block;
  float: left;

  width: 10%;
}
.project-day-number {
  font-size: 1.666em;

  display: inline-block;

  margin-top: 6px;
}
.project-info-wrapper {
  display: inline-block;

  width: 90%;
}
.project-info-top p {
  display: inline-block;
}
.project-info-time {
  /*float: right;*/
  margin-bottom: 8px;
}
.project-info-body {
  margin-top: 6px;
}
.project-title {
  font-size: 1.666em;

  display: inline-block;

  margin-bottom: 6px;

  text-decoration: none;

  color: #222;
}
.project-title,
.project-description {
  display: block;
}
#project-demo {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* ====================
   === CODE-SNIPPET ===
   ==================== */

.code {
  font-family: 'Courier New', Courier, monospace;

  color: #0079b8;
}
.code-snippet-title,
.code-snippet {
  display: inline-block;
}
.code-snippet-title {
  font-size: 1.666em;

  float: left;

  width: 20%;
  margin-top: 10px;
  padding-right: 3%;

  color: #cacaca;
}
.code-snippet {
  width: 77%;
}
.code-snippet-second {
  margin-top: 20px;
}
.code-snippet-wrapper {
  font-size: 0.9em;

  padding: 4px 20px;

  color: #333;
  background-color: #f8f8f8;
}


/* ================
   ==== FOOTER ====
   ================ */

footer {
  padding-top: 30px;
  padding-bottom: 30px;

  color: #888;
}
footer a {
  text-decoration: none;

  color: #888;
}
footer p {
  margin-top: 0.33em;
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
  #main-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .page-title h1 {
    font-size: 1.66em;
    line-height: 1.33em;
  }
  .summary-single {
    display: block;

    text-align: left;
  }
  .code-snippet-wrapper {
    margin-right: -15px;
    margin-left: -15px;
  }
  .project-title,
  .project-day-number,
  .code-snippet-title {
    font-size: 1.333em;
  }
  .code-snippet-title,
  .code-snippet {
    float: none;

    width: 100%;
  }
  .code-snippet {
    font-size: 0.9em;
  }
  .project-day {
    width: 20%;
  }
  .project-info-wrapper {
    width: 80%;
  }
}
