.demo-wrapper {
	margin-top:30px;
}
.time-wrapper {
	display: inline-block;
}
#time-of-day {
	padding:40px;
	font-size: 2.333em;
	margin-top: 15px;
	position: relative;
}
.its-daytime,
.its-nighttime {
	color: #fff;
}
.its-daytime {
	background: #ff961d;
	background: -moz-linear-gradient(-45deg, #ff961d 0%, #ffc832 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff961d), color-stop(100%,#ffc832)); /* Chrome,Safari4+ */
	background: -o-linear-gradient(-45deg, #ff961d 0%,#ffc832 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #ff961d 0%,#ffc832 100%); /* IE10+ */
	background: linear-gradient(135deg, #ff961d 0%,#ffc832 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff961d', endColorstr='#ffc832',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.its-nighttime {
	background: #323493;
	background: -moz-linear-gradient(-45deg, #323493 0%, #111140 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#323493), color-stop(100%,#111140)); /* Chrome,Safari4+ */
	background: -o-linear-gradient(-45deg, #323493 0%,#111140 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #323493 0%,#111140 100%); /* IE10+ */
	background: linear-gradient(135deg, #323493 0%,#111140 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323493', endColorstr='#111140',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.its-daytime .time-goes-here,
.its-nighttime .time-goes-here {
	background-position: left center;
	background-repeat: no-repeat;
}
.its-daytime .time-goes-here {
	background-image: url('../img/sun.png');
	background-image: url('../img/sun.svg'),none;
}
.its-nighttime .time-goes-here {
	background-image: url('../img/cloud.png');
	background-image: url('../img/cloud.svg'),none;
}
#time-amPm {
	font-weight: 100;
}
@media (max-width: 768px) {
	.text-right {
		text-align: center;
	}
	#time-of-day {
		font-size: 1.666em;
		padding:30px 20px 40px;
	}
	.its-daytime .time-goes-here ,
	.its-nighttime .time-goes-here {
		padding-top: 60px;
		background-position: center top;
	}
}