#board {
	background-color: #070038;
	width: 242px;
	height: 242px;
	margin: 20px auto 30px;
	padding: 30px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
			overflow: hidden;
}
.square {
	font-family: 'Flamenco', sans-serif;
	display: block;
	font-size: 4.25em;
	width: 80px;
	height: 80px;
	float: left;
	text-align: center;
	cursor: hand;
	cursor: pointer;
}
.x-color {
	color: #ff5500;
}
.o-color {
	color: #ff9c00;
}
#specs {
	width: 300px;
	margin: 30px auto 0;
	line-height: 1.2em;
}
.specs-title {
	color: #989898;
}
#reset {
	text-align: right;
	display: none;
	cursor: hand;
	cursor: pointer;
}
.square-tl,
.square-tm,
.square-tr,
.square-ml,
.square-mm,
.square-mr {
	border-bottom: 1px solid #4f2764;
}
.square-tl,
.square-tm,
.square-ml,
.square-mm,
.square-bl,
.square-bm {
	border-right: 1px solid #4f2764;
}