a {
	outline: 0 !important;
}
.selection-single {
	text-align: center;
	display: block;
	text-decoration: none;
	color: #d45528;
	border:1px solid #d45528;
	margin-bottom: 5px;
	padding: 10px 0;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	font-size: 21px;
	font-weight: 300;
}
.selection-single:hover,
.selection-single:focus {
	background-color:#fee1d6;
}
.selection-single-selected,
.selection-single-selected:hover,
.selection-single-selected:focus {
	background-color:#d45528;
	color: #fff;
}
#results {
	position: relative;
	height: 100px;
}
#trigger {
	font-size: 1.333em;
	margin-top: 15px;
	margin-bottom: 15px;
	color:#fff;
	background-color: #222;
	border-radius: 50px;
	line-height: 80px;
	width: 80px;
	display: inline-block;
	margin-left: -40px;
	position: absolute;
	left: 50%;
	cursor: pointer;
	cursor: hand;
}
.win {
	background-color: green!important;
}
.lose {
	background-color: red!important;
}
.draw {
	background-color: orange!important;
}
.highlight {
	font-weight: 300;
	color: #00a194 !important;
}
@media (max-width: 768px) {
	.selection-single {
		width: 100%;
	}
	#trigger {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}